<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PasswordManager</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="~/js/site.js"></script>
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Site" asp-action="Index" class="navbar-brand">PasswordManager</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            @Html.ActionLink(@User.Identity.Name, "Index", "Account")
                        </li>
                        <li>
                            @Html.ActionLink("Log off", "Logoff", "Account")
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Log in", "Login", "Account") 
                        </li>
                        <li>
                            @Html.ActionLink("Register", "Register", "Account")
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar navbar-left">
        <div class="nav-content">
            <h3>@Html.ActionLink("Passwords", "Index", "Site")</h3>
            @if (ViewBag.SiteIndex == true)
            {
                <h4>@Html.ActionLink("Create Password", "Create", "Site")</h4>
                    <h4 class="editSite">Edit Passwords</h4>
            }

            <h3>@Html.ActionLink("APIs", "Index", "Api")</h3>
             @if(ViewBag.ApiIndex == true)
             {
                 <h4>@Html.ActionLink("Create API", "Create", "Api")</h4>
                 <h4 class="editApi">Edit Passwords</h4>
             }
        </div>   
    </div>
    <div class="container body-content">
        <div class="render-body">
            @RenderBody()
        </div>
    </div>
</body>
</html>
