@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<PasswordManager.Models.Site>


@*<script type="text/javascript">
    $(document).ready(function () {
        $(".siteEdit").hide();
        $(".editSite").click(function () {
            console.log("edit");
            $(".siteEdit").show();

        })

        $('.edit').click(function () {
            clicked = $(this)[0].id;
            clicked = parseInt(clicked);
            console.log(clicked);

            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: { id: clicked },
                url: '@Url.Action("Edit", "Site")',
                success: function (result) {
                    $(".result").html(result);
                }
            });
        });
    });
</script>*@


<div class="main-content">

    <h2>Where would you like to go?</h2>
    <br /><br />

    @if (Model.Any())
    {
        <div class="container sites">
                <div class="row">
                @foreach (var Site in Model)
                {
    //Only will render Site info if Site has a Url property
                    @if(Site.Url != null)
                    {
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>@Html.DisplayFor(modelItem => Site.Name)</h3>
                                    <div class="btn-group">
                                        @*JavaScript toggles edit button*@
                                        <button class="btn btn-primary" id="@Site.Url" onclick="copyPasswordToClipboard('#pass-@Site.Id', this.id)">GO!</button>
                                        <a href="/Site/Edit/@Html.DisplayFor(modelItem => Site.Id)" class="btn btn-success siteEdit" role="button">Edit</a>
                                    </div>

                                    @*Hidden Properties*@
                                    <p class="hide" id="pass-@Site.Id">@Site.Password</p>
                                    <p class="hide" id="url-@Site.Id">@Site.Url</p>
                                </div>
                            </div>
                        </div>
                    }

                }
                </div>

        </div>
    }
    else
    {
        <p>No sites have been added yet!</p>
        <h3>@Html.ActionLink("Add Site", "Create", "Site")</h3>
    }
    <div class="result"></div>
</div>