@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PasswordManager.Models.Site

<h2>Make a new password</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Url)
    @Html.EditorFor(model => model.Url)

    @Html.LabelFor(model => model.UserName)
    @Html.EditorFor(model => model.UserName)

    @Html.LabelFor(model => model.Email)
    @Html.EditorFor(model => model.Email)
    <input type="submit" value="Create" />
}
@Html.ActionLink("Back to List", "Index")