@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PasswordManager.Models.Site

<h2>Edit</h2>
<hr />
<h4>Edit this Site: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Url)
    @Html.EditorFor(model => model.Url)

    @Html.LabelFor(model => model.UserName)
    @Html.EditorFor(model => model.UserName)

    @Html.LabelFor(model => model.Email)
    @Html.EditorFor(model => model.Email)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>