@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PasswordManager.ViewModels

@model RegisterViewModel
<div class="form-page well">
    <h2>Register a new user</h2>
    <hr />
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(user => user.Email)
            <div class="col-10">
                @Html.TextBoxFor(user => user.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(user => user.Password)
            <div class="col-10">
                @Html.PasswordFor(user => user.Password)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(user => user.ConfirmPassword)
            <div class="col-10">
                @Html.PasswordFor(user => user.ConfirmPassword)
            </div>
        </div>

        <input type="submit" value="Register" />
    }
</div>